.notesContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.noteCard {
  margin: 0;
  cursor: pointer;
}

.noteCard :global(.ant-card-body) {
  padding: 14px 14px 8px 14px;
}

.noteTitle {
  display: block;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 8px;
}

.noteContent {
  display: -webkit-box;
  font-size: 14px;
  margin-bottom: 8px;
  word-break: break-word;
  max-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.noteDivider {
  margin: 4px 0 2px 0;
}

.noteMeta {
  display: block;
  font-size: 12px;
  margin: 0;
}
